.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 1rem;
  min-height: 100vh;
}

@media (orientation: landscape) {
  .main {
    padding: 0;
  }
}
