.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  display: block;
}

@media (orientation: landscape) {
  .title {
    display: none;
  }
}
